*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
/*id*/
#icon{
	width:150px;
	height:80px;
	background-color: white;
}

#landing-page {
	height:100vh;
	background-image: url(https://cdn.shopify.com/s/files/1/0567/1682/0677/files/CARDINAL-BANNER_1_1920x.png?v=1645674930); 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	display: flex;
}

#myModal{
	color:black;
}

#lebronjames
{
	width: 50rem;
	height: 40rem;
}

#kyrie
{
	width: 50rem;
	height: 40rem;
}
#kd
{
	width: 50rem;
	height: 40rem;
}
#ga
{
	width: 50rem;
	height: 40rem;
}

#gmap-canvas {
	height: 60vh;
	width: 100%;
}

#footer{
	margin-left: 50rem;
}
/*class*/
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid black;
}


.card-body{

	vertical-align: top;
	border: 2px solid white;

}
.card-title{
	
	display: inline-block;
	vertical-align: top;
}
.card-text{
	vertical-align: top;
	
}





